
@{
    ViewData["Title"] = "HandIn";
}

<div>
    <h3>Submit Success</h3>
    <hr />
    <h4>本次测试正确率：</h4>
    <h5 style="color:coral">@GeneralHelper.EssentialCurrectRadio</h5>
    <hr />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>