@{
    ViewData["Title"] = "Home Page";
}

<div id="main-banner" class="carousel" data-ride="carousel">
    <!-- 指示符 -->
    <ol class="carousel-indicators">
        <li data-target="#main-banner" data-slide-to="0" class="active"></li>
        <li data-target="#main-banner" data-slide-to="1"></li>
        <li data-target="#main-banner" data-slide-to="2"></li>
    </ol>

    <!-- 轮播图片 -->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="~/assets/img_fjords_wide.jpg">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img_mountains_wide.jpg">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img_nature_wide.jpg">
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#main-banner" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#main-banner" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get more information from here</p>
</div>

<div class="light-wrapper" id="welcome">
    <div class="row text-center welcome">
        <div class="col-sm-4">
            <div class="col-wrapper">
                <i class="icon-intro"></i>
                <h3>Introduction</h3>
                <p>
                    Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras
                    mattis consectetur purus sit amet fermentum ultricies vehicula.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-wrapper">
                <i class="icon-idea"></i>
                <h3>Introduction</h3>
                <p>
                    Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras
                    mattis consectetur purus sit amet fermentum ultricies vehicula.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-wrapper">
                <i class="icon-coffee"></i>
                <h3>Introduction</h3>
                <p>
                    Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras
                    mattis consectetur purus sit amet fermentum ultricies vehicula.
                </p>
            </div>
        </div>
    </div>
    <br>

    <div class="row text-center welcome">
        <div class="col-sm-4">
            <div class="col-wrapper">
                <div class="thumbnail_270">
                    <a title="Template" href="#">
                        <figure class="imghvr-fade">
                            <img class="col-sm-12" alt="Template" src="~/assets/content1.jpg" width="280" height="280">
                            <figcaption>
                                <h3>Hello World</h3>
                                <p>Life is too important to be taken seriously!</p>
                            </figcaption>
                        </figure>
                        <span class="caption">
                            <span class="caption-content">
                                <span class="h2">Ice Cream</span>
                            </span>
                        </span>
                    </a>
                    <div class="text-dark">
                        <p>
                            Breezed HTML template is one-page Bootstrap v4.3.1 layout with all necessary
                            elements for your standard website. You can apply this layout...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-wrapper">
                <div class="thumbnail_270">
                    <a title="Template" href="#">
                        <figure class="imghvr-fade">
                            <img class="col-sm-12" alt="Template" src="~/assets/content2.jpg" width="280" height="280">
                            <figcaption>
                                <h3>Hello World</h3>
                                <p>Life is too important to be taken seriously!</p>
                            </figcaption>
                        </figure>
                        <span class="caption">
                            <span class="caption-content">
                                <span class="h2">Ice Cream</span>
                            </span>
                        </span>
                    </a>
                    <div class="text-dark">
                        <p>
                            Breezed HTML template is one-page Bootstrap v4.3.1 layout with all necessary
                            elements for your standard website. You can apply this layout...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-wrapper">
                <div class="thumbnail_270">
                    <a title="Template" href="#">
                        <figure class="imghvr-fade">
                            <img class="col-sm-12" alt="Template" src="~/assets/content3.jpg" width="280" height="280">
                            <figcaption>
                                <h3>Hello World</h3>
                                <p>Life is too important to be taken seriously!</p>
                            </figcaption>
                        </figure>
                        <span class="caption">
                            <span class="caption-content">
                                <span class="h2">Ice Cream</span>
                            </span>
                        </span>
                    </a>
                    <div class="text-dark">
                        <p>
                            Breezed HTML template is one-page Bootstrap v4.3.1 layout with all necessary
                            elements for your standard website. You can apply this layout...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br />
<div style="background:url(./assets/bg-masthead.jpg);">
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-3 col-md-4">
            <img style="border-radius:6px" class="img-thumbnail" alt="" src="~/assets/head.jpg" width="150" />
        </div>
        <div class="col-lg-4 col-md-4">
            <h6>About Me</h6>
            <h1 class="text-uppercase">Personal Details</h1>
            <p style="color:aliceblue">
                Here, I focus on a range of items and features
                that we use in life without giving them a second
                thought. such as Coca Cola. consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.
            </p>
            <a class="btn btn-primary text-uppercase" href="#">View Full Details</a>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
</div>

<div id="btntop" style="z-index: 9999; position: fixed ! important; right: 5px; top: 2px;">
    <button class="btntop" onclick="returnTop()" id="btnTop" title="Backtop"></button>
    @*<img class="img-fluid" onclick="returnTop()" id="btnTop" src="~/ico/top.png" />*@
</div>

<script type="text/javascript">
    // 当网页向下滑动 20px 出现"返回顶部" 按钮
    window.onload = function () {
        scrollFunction()
    };
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("btnTop").style.display = "block";
        } else {
            document.getElementById("btnTop").style.display = "none";
        }
    }

    // 点击按钮，返回顶部
    function returnTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>