@{
    ViewData["Title"] = "Privacy Policy";
}

<h3>隐私政策</h3>
<br>

<div>
    <p>欢迎您使用我们的产品和服务！<br>我们非常重视您的隐私保护和个人信息保护。<br>本隐私政策适用于您对此网站的访问和使用留存的信息。</p>
</div>

<br>
<div>
    <p>点击下载隐私政策文本</p>
    <a asp-controller="Home" asp-action="PrivacyDoc">Download</a>
</div>
